<div class='row pt-5'>
  <div class='col-md-12'>
    <div class='flex-centered col-xl-6 col-lg-6 col-md-8 col-sm-12'>
      <h2 class='title'>
        404 Pagina non trovata
      </h2>
      <small
        class='sub-title'
      >La pagina non sembra esistere</small>

      <div class='pt-2'>
        <button type='button'
                (click)='goToHome()'
                class='btn btn-primary'
                type='button'>
          Torna alla home
        </button>
      </div>
    </div>
  </div>
</div>
