/*
* SPDX-FileCopyrightText: Copyright 2020 - 2021 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/

.containerDiv {
    font: normal normal bold 22px "Open Sans", sans-serif;
    color: #000000DE;
    border-bottom: 1px solid #E0E0E0;  
}