.function-div {
    color: gray;
    font-size: small;
}

.quadri-div {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.not-registered {
    color: red;
}

.notregisteredstrong {
    overflow-y: auto;
}