<div class="dialogTitle py-3 pl-4">
  <title-bar title="Nuova notifica"></title-bar>

  <div class="narrowed-box w-100">
    <div class="card-box">
      <div class="row ml-2">
        <!-- first col -->
        <div class="col-4">
          <div class="my-2">
            <title-section subtitle="Numero istanza"></title-section>
          </div>
          <div class="pb-3">
            <label>{{ istanza?.codice_istanza }}</label>
          </div>
        </div>

        <div class="col-4">
          <div class="my-2">
            <title-section subtitle="Tipo istanza"></title-section>
          </div>
          <div class="pb-3">
            <label>{{ istanza?.tipologia_istanza.value }}</label>
          </div>
        </div>

        <div class="col-4">
          <div class="my-2">
            <title-section subtitle="Stato istanza"></title-section>
          </div>
          <div class="pb-3">
            <label>{{ istanza?.stato_istanza?.value }}</label>
          </div>
        </div>

        <div class="col-4">
          <div class="my-2">
            <title-section subtitle="Intestatario"></title-section>
          </div>
          <div class="pb-3">
            <label
              >{{ istanza?.fascicolo?.intestatario.anagrafica?.nome }}
              {{ istanza?.fascicolo?.intestatario.anagrafica?.cognome }}</label
            >
          </div>
        </div>

        <div class="col-4">
          <div class="my-2">
            <title-section subtitle="Comune"></title-section>
          </div>
          <div class="pb-3">
            <label>{{ istanza?.comune?.value }}</label>
          </div>
        </div>

        <div class="col-4">
          <div class="mb-2">
            <title-section subtitle="Indirizzo"></title-section>
          </div>
          <div class="pb-3">
            <label>{{ indirizzoIstanza }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-box my-2">
    <div class="row">
      <div class="col-12">
        <title-section subtitle="Seleziona il tipo di notifica"></title-section>
      </div>
      <div class="col-12">
        <form [formGroup]="nuovaNotificaForm">
          <it-select
            (valueChangedEvent)="onPossibileNotificationChange($event)"
            [data]="notifications"
            [parentFormGroup]="nuovaNotificaForm"
            controlName="notifica"
          >
          </it-select>
        </form>
      </div>
    </div>
      <div *ngIf="form" class='ml-1'>
        <hr />
        <formio
          id="form"
          [form]="form"
          [options]="formioOptions"
          [renderOptions]="renderOptions"
          [readOnly]="false"
          [success]="successEmitter"
          [refresh]="refreshForm"
          (ready)="ready($event)"
          (submit)="submitFormIO($event)"
        ></formio>
      </div>
    
  </div>

  <button class="btn btn-link mr-3 m-2 blue" (click)="goBack()">
    Indietro
  </button>
</div>
