
.editarea {
    width: 100%;
}

pre {
    height: 500px;
    overflow-y: auto;
}

.previewPanel {
    border: 1px dashed black;
    border-radius: 6px;
    background-color: white;
}

.previewBorder {
    background-color: aliceblue;
}
