#
#git config --global url."https://github.com".insteadOf git://github.com

loglevel=error
#tmp=.npm-packages
#cache=.npm-cache
registry=http://repart.csi.it/artifactory/api/npm/npm/
@mudeopen-common:registry=http://repart.csi.it/artifactory/api/npm/npm/