<!--
* SPDX-FileCopyrightText: Copyright 2020 - 2021 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
-->

<div *ngIf="!noclose">
    <div class="containerDiv py-3 pl-4 pr-3">
        <span class="title-col1">{{title? title : soggettoOnEdit?'Modifica soggetto':'Inserisci soggetto'}} - persona fisica</span>
        <span *ngIf="!isSubjectSaved"  class="close-col2" ><em class="fa fa-times" (click)="onClose()"></em></span>
    </div>
    <div *ngIf="!isSubjectSaved" class="mx-3">
        <span class="form-text text-muted">* inserire i campi obbligatori</span>
    </div>

    <!-- Corpo principale. -->
    <div *ngIf="!isSubjectSaved" class="px-2 mb-4">
        <ng-container *ngTemplateOutlet="insertCollectionFields"></ng-container>
    </div>
</div>

<div *ngIf="noclose">
    <ng-container *ngTemplateOutlet="insertCollectionFields"></ng-container>
</div>

<ng-template #insertCollectionFields>
    <form [formGroup]="mainContactForm" (ngSubmit)="onSubmit()">
        <div class="row p-3">
            <ng-container *ngTemplateOutlet="anagraficaPFSectionBlock"></ng-container>
        </div>

        <title-section subtitle="Dati della partita iva"></title-section>
        <ng-container *ngTemplateOutlet="partitaIvaBlock"></ng-container>

        <ng-container *ngTemplateOutlet="tipologiaContatto"></ng-container>
        <div *ngIf="!isLoggedUser">
            <ng-container *ngTemplateOutlet="rappresentanteLegale"></ng-container>
        </div>

        <div class="pt-3">
            <title-section subtitle="Indirizzi"></title-section>
        </div>
        <div *ngIf="indirizziFormArray.controls.length" class="row pl-4 pl-2">
            <ng-container *ngTemplateOutlet="indirizziSectionBlock"></ng-container>
        </div>
        <div *ngIf="tipologieIndirizzo.length" class="py-2">
            <div *ngIf="isAddressChoice" class="row pl-4 pl-2">
                <div class="col-6" formGroupName="tipiIndirizzo">
                    <it-select controlName="id"
                                    label="Indirizzo per comunicazioni postali"
                                    [parentFormGroup]="mainContactForm"
                                    [data]="tipologieIndirizzo"
                                    (valueChangedEvent)="addIndirizzoForm()">
                    </it-select>
                </div>
            </div>

            <div *ngIf="!isAddressChoice" class="pl-4 pr-2">
                <span (click)="isAddressChoice = true">
                    <img alt=""  src="assets/images/plus.png" class="plusIcon" /><span class="linkedText">AGGIUNGI INDIRIZZO</span>
                </span>
            </div>
        </div>
        
        <div class="pt-3">
            <title-section subtitle="Qualifiche professionali"></title-section>
        </div>
        <div *ngIf="qualificheProfessionaliFormArray.controls.length" class="row pl-4 pr-2">
            <ng-container *ngTemplateOutlet="qualificheProfessionaliSectionBlock"></ng-container>
        </div>
        <div class="py-2">
            <div *ngIf="isJobChoice" class="row pl-4 pr-2">
                <div class="col-6" formGroupName="tipiQualificaProfessionale">
                    <it-select
                        [parentFormGroup]="mainContactForm"
                        controlName="id"
                        [data]="tipologieQualificaProfessionale"
                        label="Tipologia qualifica professionale"
                        selectedOption="Seleziona una tipologia di qualifica professionale"
                        (valueChangedEvent)="addQualificaProfessionaleForm()">
                    </it-select>
                </div>
            </div>

            <div *ngIf="!isJobChoice" class="pl-4 pr-2">
                <span (click)="isJobChoice = true">
                    <img alt=""  src="assets/images/plus.png" class="plusIcon" /><span class="linkedText">AGGIUNGI QUALIFICA PROFESSIONALE</span>
                </span>
            </div>
        </div>

        <div class="pr-2 my-4" *ngIf="rappresentanteRequired || addressRequired || addressAlwaysRequired">
            <alert-box *ngIf="addressAlwaysRequired && !indirizziFormArray.length" message="Devi specificare almeno un indirizzo" type="WARNING"></alert-box>
            <alert-box *ngIf="addressRequired && !indirizziFormArray.length" message="Devi specificare il domicilio digitale (PEC) oppure almeno un indirizzo" type="WARNING"></alert-box>
            <alert-box *ngIf="rappresentanteRequired && !legaleRappresentante" message="Seleziona o inserisci il rappresentante legale" type="WARNING"></alert-box>
        </div>

        <div *ngIf="!noclose">
            <div class="d-flex mt-4">
                <div class="my-4 px-2">
                    <button #hiddenFocus type="submit" class="btn btn-link" (click)="onClose()">ANNULLA</button>
                </div>
                <div class="ml-auto my-4">
                    <button type="submit" class="btn btn-color-slim blue">SALVA</button>
                </div>
            </div>

            <!--this is to make focus: input type="hidden" [value]="!isInitialization || setFocusOnSubmit(hiddenFocus)"-->
        </div>
    </form>
</ng-template>

<div *ngIf="isSubjectSaved" class="px-4 my-4">
    <app-recap-table title="<strong>Riepilogo soggetto inserito</strong>"
            [columns]="[
                {
                    label: 'Nome',
                    properties: ['anagrafica.nome']
                },
                {
                    label: 'Cognome',
                    properties: [ 'anagrafica.cognome' ]
                },
                {
                    label: 'Codice fiscale',
                    properties: [ 'anagrafica.codiceFiscale' ]
                }
            ]"
            [records]="[ contact ]"
            [editEnabled]="false"
            [deleteEnabled]="false">
    </app-recap-table>

    <alert-box message="Soggetto salvato correttamente" timeout="5000" type="SUCCESS"></alert-box>
    
    <div class="d-flex mt-4 mx-3 toolbarDiv">
        <div class="ml-auto my-4">
            <button (click)="goOn()" class="btn btn-success">AVANTI</button>
        </div>
    </div>
</div>

<!-- Sezioni template. -->

<ng-template #anagraficaPFSectionBlock>
    <form [formGroup]="anagraficaForm" (ngSubmit)="onSubmit()" [ngStyle]="{width: '100%'}">
            <title-section subtitle="Dati anagrafici"></title-section>

            <div class="row pl-4 pr-2">
                <div class="col-4">
                    <it-input
                        [parentFormGroup]="anagraficaForm"
                        controlName="nome"
                        label="Nome"
                        placeholder="Inserisci il nome">
                    </it-input>
                </div>

                <div class="col-4">
                    <it-input
                        [parentFormGroup]="anagraficaForm"
                        controlName="cognome"
                        label="Cognome"
                        placeholder="Inserisci il cognome">
                    </it-input>
                </div>

                <div *ngIf="!isLoggedUser" class="col-4">
                    <it-input
                        [readOnly]="!isContactKeyStilChangeable"
                        [parentFormGroup]="anagraficaForm"
                        controlName="codiceFiscale"
                        label="Codice fiscale"
                        placeholder="Inserisci il codice fiscale"
                        (blur)="checkIfCFExists($event.target.value)">
                    </it-input>
                </div>
            </div>

            <div class="row px-4 my-4" *ngIf="fiscalcodeduplicated">
                <div class="col">
                    <alert-box message="Il codice fiscale inserito è già presente in rubrica" type="WARNING"></alert-box>
                </div>
            </div>
    
            <div class="row pl-4 pr-2">
                <div class="col-4">
                    <it-select
                        [parentFormGroup]="anagraficaForm"
                        controlName="sesso"
                        [data]="sesso"
                        label="Sesso"
                        selectedOption="Seleziona">
                    </it-select>
                </div>

                <div class="col-4">
                    <it-datepicker [parentFormGroup]="anagraficaForm"  controlName="dataNascita" [maxDate]="maxBirthDate" label="Data di nascita"></it-datepicker>
                </div>

                <div class="col-4" formGroupName="statoNascita">
                    <it-select
                        [parentFormGroup]="anagraficaForm"
                        controlName="id"
                        (valueChangedEvent)="onChangeStatoNascita($event)"
                        [data]="stati"
                        label="Stato di nascita"
                        selectedOption="Seleziona stato di nascita">
                    </it-select>
                </div>
            </div>

            <div class="row pl-4 pr-2">
                <div class="col-4" formGroupName="provinciaNascita">
                    <it-select
                        [parentFormGroup]="anagraficaForm"
                        controlName="id"
                        (valueChangedEvent)="onChangeProvinciaNascita($event)"
                        [data]="province"
                        label="Provincia di nascita"
                        selectedOption="Seleziona provincia di nascita">
                    </it-select>
                </div>

                <div class="col-4" formGroupName="comuneNascita">
                    <it-select
                        [parentFormGroup]="anagraficaForm"
                        controlName="id"
                        [data]="comuniNascita"
                        label="Comune di nascita"
                        selectedOption="Seleziona comune di nascita">
                    </it-select>
                </div>

                <div class="col-4">
                    <it-input
                        [hidden]="!(mainContactForm.value.anagrafica?.statoNascita?.id != 1)"
                        [parentFormGroup]="anagraficaForm"
                        controlName="statoEstero"
                        label="Città di nascita estera"
                        placeholder="Inserisci la città di nascita estera">
                    </it-input>
                </div>
            </div>
            
            <div class="row pl-4 pr-2">
                <div class="col-4">
                    <it-input
                        [parentFormGroup]="anagraficaForm"
                        controlName="telefono"
                        label="Telefono/cellulare 1"
                        placeholder="Inserisci il numero">
                    </it-input>
                </div>
                <div class="col-4">
                    <it-input
                        [parentFormGroup]="anagraficaForm"
                        controlName="cellulare"
                        label="Telefono/cellulare 2"
                        placeholder="Inserisci il numero">
                    </it-input>
                </div>
            </div>
            <div class="row pl-4 pr-2">
                <div class="col-4">
                    <it-input
                        [parentFormGroup]="anagraficaForm"
                        controlName="mail"
                        label="E-mail"
                        placeholder="Inserisci l'e-mail">
                    </it-input>
                </div>

                <div class="col-4">
                    <it-input
                        [parentFormGroup]="anagraficaForm"
                        controlName="pec"
                        label="Domicilio digitale (PEC)"
                        placeholder="Inserisci la PEC">
                    </it-input>
                </div>
            </div>
    </form>
</ng-template>

<ng-template #indirizziSectionBlock>
    <form [formGroup]="mainContactForm" [ngStyle]="{width: '100%'}">
        <div formArrayName="indirizzi">
            <div class="pr-4 pl-2" *ngFor="let indirizzoForm of indirizziFormArray.controls; let i=index" [formGroupName]="i">
                <title-section [subtitle]="getAddressType(indirizzoForm.value.tipologiaIndirizzo.id)"></title-section>
                <div class="row p-2">
                    <div class="col-4" formGroupName="stato">
                        <it-select
                            [parentFormGroup]="indirizzoForm"
                            controlName="id"
                            (valueChangedEvent)="onChangeStatoIndirizzo($event, i)"
                            [data]="stati"
                            label="Stato"
                            selectedOption="Seleziona Stato">
                        </it-select>
                    </div>
    
                    <div *ngIf="isItalySelected(i)" class="col-4" formGroupName="provincia">
                        <it-select
                            [parentFormGroup]="indirizzoForm"
                            controlName="id"
                            (valueChangedEvent)="onChangeProvinciaIndirizzo($event, i)"
                            [data]="province"
                            label="Provincia"
                            selectedOption="Seleziona provincia">
                        </it-select>
                    </div>
    
                    <div *ngIf="isItalySelected(i) && comuniIndirizzo" class="col-4" formGroupName="comune">
                        <it-select 
                            [parentFormGroup]="indirizzoForm"
                            controlName="id"
                            [data]="getComuniIndirizzo(i)"
                            label="Comune"
                            selectedOption="Seleziona comune">
                        </it-select>
                    </div>

                    <div *ngIf="!isItalySelected(i)" class="col-8">
                        <it-input
                            [parentFormGroup]="indirizzoForm"
                            controlName="comuneIndirizzoEstero"
                            label="Città estera"
                            placeholder="Inserisci la Città estera">
                        </it-input>
                    </div>

                </div>

                <div class="row p-2">
                    <div class="col-4" formGroupName="dug">
                        <it-select
                            [parentFormGroup]="indirizzoForm"
                            controlName="id"
                            [data]="dug"
                            label="Indirizzo DUG"
                            selectedOption="Seleziona DUG">
                        </it-select>
                    </div>

                    <div class="col-6">
                        <it-input
                            [parentFormGroup]="indirizzoForm"
                            controlName="duf"
                            label="Indirizzo DUF"
                            placeholder="indirizzo">
                        </it-input>
                    </div>

                    <div class="col-2">
                        <it-input
                            [parentFormGroup]="indirizzoForm"
                            controlName="numero"
                            label="Civico"
                            placeholder="">
                        </it-input>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-4">
                        <it-input
                            [parentFormGroup]="indirizzoForm"
                            controlName="localita"
                            label="Località"
                            placeholder="Inserisci località">
                        </it-input>
                    </div>

                    <div class="col-4">
                        <it-input
                            [parentFormGroup]="indirizzoForm"
                            controlName="cap"
                            label="CAP"
                            placeholder="Inserisci il CAP">
                        </it-input>
                    </div>
                    <div *ngIf="false && !isLoggedUser" class="col-4">
                        <it-input
                            [parentFormGroup]="indirizzoForm"
                            controlName="telefono"
                            label="Telefono"
                            placeholder="Inserisci telefono">
                        </it-input>
                    </div>
                </div>

                <div *ngIf="false && !isLoggedUser" class="row p-2">
                    <div class="col-4">
                        <it-input
                            [parentFormGroup]="indirizzoForm"
                            controlName="cellulare"
                            label="Cellulare"
                            placeholder="Inserisci cellulare">
                        </it-input>
                    </div>
    
                    <div class="col-4">
                        <it-input
                            [parentFormGroup]="indirizzoForm"
                            controlName="mail"
                            label="E-mail"
                            placeholder="Inserisci e-mail">
                        </it-input>
                    </div>

                    <div class="col-4">
                        <it-input
                            [parentFormGroup]="indirizzoForm"
                            controlName="pec"
                            label="PEC"
                            placeholder="Inserisci PEC">
                        </it-input>
                    </div>
                </div>

                <div class="d-flex linkDiv">
                    <div class="ml-auto mr-2">
                        <span (click)="removeIndirizzoForm(i)">
                            <img alt=""  src="assets/images/minus.png" class="plusIcon" /><span class="linkedText">RIMUOVI INDIRIZZO</span>
                        </span>
                    </div>
                </div>

                <hr class="noTop">

            </div>
        </div>
    </form>
</ng-template>

<ng-template #qualificheProfessionaliSectionBlock>
    <form [formGroup]="mainContactForm" (ngSubmit)="onSubmit()" [ngStyle]="{width: '100%'}">
        <div formArrayName="qualificheProfessionali">
            <div class="pl-2 pr-3" *ngFor="let qualificaForm of qualificheProfessionaliFormArray.controls; let i=index" [formGroupName]="i">
                <title-section [subtitle]="getJobType(qualificaForm.value.tipologiaQualificaProfessionale.id)"></title-section>

                <div *ngIf="qualificaForm.value.tipologiaQualificaProfessionale.id == 1" class="row p-2">
                    <div class="col-12">
                        <it-input type="textarea"
                            [parentFormGroup]="qualificaForm"
                            controlName="specifica_qualifica"
                            label="Specifica la qualifica">
                        </it-input>
                    </div>
                </div>

                <div *ngIf="!qualificaForm.value.no_obbligo_iscrizione_ordine" class="row p-2">
                    <div class="col-4">
                        <it-input
                            [parentFormGroup]="qualificaForm"
                            controlName="numero_iscrizione_ordine"
                            label="N° iscrizione"
                            placeholder="Inserisci n° iscrizione">
                        </it-input>
                    </div>

                    <div class="col-4" formGroupName="provincia">
                        <it-select
                            [parentFormGroup]="qualificaForm"
                            controlName="id"
                            [data]="qualificaCollegi"
                            label="Provincia/Ambito territoriale"
                            selectedOption="Seleziona provincia/ambito territoriale">
                        </it-select>
                    </div>

                    <div class="col-4" formGroupName="ordineProfessionale">
                        <it-select
                            [parentFormGroup]="qualificaForm"
                            controlName="id"
                            [data]="ordiniProfessionali"
                            label="Ordine professionale"
                            selectedOption="Seleziona ordine professionale">
                        </it-select>
                    </div>
                </div>

                <!-- XXX -->
                <div class="row mt-2 pl-4 pr-2">
                    <div class="col-12">
                        <it-input
                            type="checkbox"
                            [parentFormGroup]="qualificaForm"
                            controlName="no_obbligo_iscrizione_ordine"
                            label="Il soggetto dichiara di non aver obbligo di iscrizione ad un ordine professionale"
                            (change)="checkObbligoIscrizione(qualificaForm)">
                        </it-input>
                    </div>
                </div>
                <div class="row pl-4 pr-2">
                    <div class="col-12">
                        <div *ngIf="qualificaForm.value.no_obbligo_iscrizione_ordine" class="pl-4 pr-2">
                            <it-input type="textarea"
                                [parentFormGroup]="mainContactForm"
                                controlName="motivazione"
                                label="Specificare la motivazione:">
                            </it-input>
                        </div>
                    </div>
                </div>

                <div class="d-flex linkDiv">
                    <div class="ml-auto mr-2">
                        <span (click)="removeQualificaProfessionaleForm(i)">
                            <img alt=""  src="assets/images/minus.png" class="plusIcon" /><span class="linkedText">RIMUOVI QUALIFICA PROFESSIONALE</span>
                        </span>
                    </div>
                </div>

                <hr class="noTop">

            </div>
        </div>
    </form>
</ng-template>

<ng-template #rappresentanteLegale>
    <div *ngIf="!legaleRappresentante" class="mt-3">
        <title-section subtitle="Inserimento Dati del Rappresentante"></title-section>
        <div class="pl-4 pr-2">
            <ricerca-inserisci-persona-fisica-giuridica insertChildTitle="Inserisci nuovo rappresentante" mode="ALL" [notitle]="true" [userSelectionType]=" 'CONTACTS_SELF_INCLUDED' "
                    (selectedPF)="setRappresentanteLegale($event, 'PF')"
                    (selectedPG)="setRappresentanteLegale($event, 'PG')"
                    [excludeIDs]="this.soggettoOnEdit?.id">
            </ricerca-inserisci-persona-fisica-giuridica>
        </div>
    </div>
    <div *ngIf="legaleRappresentante" [formGroup]="mainContactForm">
        <div *ngIf="legaleRappresentanteType == 'PF'" class="mt-3 pl-2 pr-2">
            <app-recap-table title="<strong>Rappresentante</strong>"
                [columns]="[
                    {
                        label: 'Codice fiscale',
                        properties: [ 'anagrafica.codiceFiscale' ]
                    },
                    {
                        label: 'Nome',
                        properties: [ 'anagrafica.nome' ]
                    },
                    {
                        label: 'Cognome',
                        properties: [ 'anagrafica.cognome' ]
                    }
                ]"
                [records]="[ legaleRappresentante ]"
                [editEnabled]="false"
                [deleteEnabled]="true"
                (deleteRecord)="legaleRappresentante = null">
            </app-recap-table>
        </div>
        <div *ngIf="legaleRappresentanteType == 'PG'" class="mt-3 pl-2 pr-2">
            <app-recap-table title="<strong>Rappresentante</strong>"
                [columns]="[
                    {
                        label: 'Ragione sociale',
                        properties: [ 'anagrafica.ragioneSociale' ]
                    },
                    {
                        label: 'C.Fiscale/Partita IVA',
                        properties: [ '_cfPIVA' ]
                    },
                    {
                        label: 'Partita IVA comunit./estera',
                        properties: [ 'anagrafica.partitaIvaComunitaria' ]
                    }
                ]"
                [records]="[ _legaleRappresentante ]"
                [editEnabled]="false"
                [deleteEnabled]="true"
                (deleteRecord)="deleteRappresentante()">
            </app-recap-table>
        </div>
        <!-- selezione titolo -->
        <title-section subtitle=""><strong>Indicare il titolo di rappresentanza ricoperto</strong></title-section>
        <div *ngIf="titoli?.length" class="narrowed-box mb-3 pl-3 pl-2">
            <div class="pt-3 pl-2" formGroupName="titoloRappresentanza">
                <it-select controlName="id" 
                    [parentFormGroup]="mainContactForm"
                    [data]="titoli"
                    label="" selectedOption="Seleziona">
                </it-select>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #tipologiaContatto>
    <div *ngIf="!isLoggedUser" [formGroup]="mainContactForm">
        <title-section subtitle="Tipologia di appartenenza"></title-section>

        <!-- TODO:TIPOTITOLO -->
        <div class="pl-4 pr-2">
            <div class="d-flex">
                <div class="mr-4">
                    <it-input
                        type="checkbox"
                        [parentFormGroup]="mainContactForm"
                        controlName="titolare"
                        label="Clienti">
                    </it-input>
                </div>
                <div class="mr-4">
                    <it-input
                        type="checkbox"
                        [parentFormGroup]="mainContactForm"
                        controlName="professionista"
                        label="Professionisti">
                    </it-input>
                </div>
                <div class="mr-4">
                    <it-input
                        type="checkbox"
                        [parentFormGroup]="mainContactForm"
                        controlName="impresa_lavori"
                        label="Imprese lavori">
                    </it-input>
                </div>
            </div>
        </div>    
    </div>
</ng-template>

<ng-template #partitaIvaBlock>
    <div [formGroup]="anagraficaForm" class="row pl-4 pr-2">
        <div class="col-4" formGroupName="statoMembro">
            <it-select
                [parentFormGroup]="anagraficaForm.get('statoMembro')"
                controlName="id"
                [data]="statiComnunitariEsteri"
                label="Stato {{!anagraficaForm.value.nazionalita? 'comunitario/estero' : (anagraficaForm.value.nazionalita==2?'comunitario':'estero') }}"
                selectedOption="Seleziona lo stato"
                (valueChangedEvent)="pivaSelected()">
            </it-select>
        </div>
        
        <div class="col-4">
            <it-input
                [readOnly]="!isPivaChangeable"
                [disabled]="!this.anagraficaForm.value.statoMembro.id || this.anagraficaForm.value.statoMembro.id != 1"
                [parentFormGroup]="anagraficaForm"
                controlName="partitaIva"
                label="Partita IVA"
                placeholder="Inserisci la partita IVA">
            </it-input>
        </div>

        <div class="col-4">
            <it-input
                [readOnly]="!isPivaChangeable"
                [disabled]="!this.anagraficaForm.value.statoMembro.id || this.anagraficaForm.value.statoMembro.id == 1"
                [parentFormGroup]="anagraficaForm"
                controlName="partitaIvaComunitaria"
                label="Partita IVA {{anagraficaForm.value.nazionalita==2?'comunitaria':'estera'}}"
                placeholder="Inserisci la partita IVA estera">
            </it-input>
        </div>
    </div>
</ng-template>