/*
* SPDX-FileCopyrightText: Copyright 2020 - 2021 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/

.card {
  min-height: 51vh;
  padding: 30px;
  margin: 8px 0;
  overflow-x: auto;
  box-shadow: 3px 3px 8px 0 #00000048;
  // form {
  //   p.title {
  //     font-weight: bold;
  //     margin-top: 15px;
  //   }
  //   div.row {
  //     align-items: flex-end;
  //   }
  //   .form-control.ng-touched.ng-invalid:not(form) {
  //     border: 2px solid #a94442;
  //   }
  //   .uppercase {
  //     text-transform: uppercase;
  //   }
  // }
}
