.editarea {
  width: 100%;
}

.searchDiv {
  align-content: stretch;
  flex: 999 999 auto;
}

.filterDiv {
  background-color: #ffffd2;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  display: flex;
}
.filterDiv div {
  flex-grow: 1;
  width: 100%;
}

.filterDiv div input,
.filterDiv div select {
  width: 100%;
}

.actionDiv {
  width: 100px;
}
.btn btn-primary btn-sm{
    align-items: right !important;
    margin: 8px 0;
    text-align: right !important;
}
.button-group {
  width: 100%;
  align-items: right !important;
  margin: 8px 0;
  text-align: right !important;
}
::ng-deep .editing-row {
  background-color: #fdf9e5;
}

.rawQuadriTable {
  width: 75%;
  margin-left: 100px;
}

::ng-deep .expanded-row {
}

thead .quadro-head {
  font-size: 12px !important;
  color: rgb(185, 88, 88) !important;
}

tbody .quadro-td {
  font-size: 12px !important;
}

.quadri-action-div {
  width: 90px;
}

.switchIcon {
  color: blue;
}

.datatable-container {
  width: 100%;
  display: inline-block;
  position: relative;
  box-shadow: 1px 2px 8px #c4c4c4;
  align-content: stretch;
  flex: 999 999 auto;
  .datatable-style {
    background: #f7f7f7 0% 0% no-repeat padding-box;
  }
}

 :host {
  ::ng-deep .ngb-dp-months {
    display: none !important;
  };
  ::ng-deep .msgCC {
    color: #818181;
    font-size: 10px;
  };
  
}


