<!--
* SPDX-FileCopyrightText: Copyright 2020 - 2021 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
-->

<div class="card" (click)="gotolink()">
    <div class="row p-card-banner align-items-center no-gutters">
        <div >
            <img alt=""  class="align-baseline icon" [src]="imagePath">
        </div>
        <div class="col-10 ml-2">
            <p class="card-title">{{cardTitle}}</p>
        </div>
    </div>
<!--
    <div class="row p-card-body" *ngIf="cardTextSmall">
        <div class="card-body">
            <p class="card-text">{{cardText}}</p>
            <p class="card-text-small">{{cardTextSmall}}</p>
        </div>
    </div>

    <div class="row p-card-body" *ngIf="cardTitleFooter">
        <p class="card-title"><a [routerLink]="routerLink">{{cardTitleFooter}}</a></p>
    </div>
-->
</div>